#nav-style {
    background-color: #627070;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

body {
    background-color: #F3F1F0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

@media (min-width: 600px) {
    #index-blogs {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 600px) {
    #index-places {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.ind-blog {
    height: auto;
}

.desc {
    padding-left: 2em;
    text-align: left;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .author-index {
      display: inline;
  }

  .my-posts-label {
    padding-left: 30px;
    padding-right: 20px;
    height: 30px;
  }